{% extends 'master.html' %} {% load static %} {% block head %}
<title>Tarefas - Todo App</title>
<link rel="stylesheet" href="{% static 'css/todo.css' %}" />

{% endblock %} {%block content %} {% include 'menu.html' %}
<div class="container bg-light my-5 todo px-5 py-3">
  <h1 class="text-center pb-3">Tarefas</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Prioridade</th>
        <th scope="col">Prazo</th>
        <th scope="col">Concluída</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    {% if not todos %}
    <tbody>
      <td colspan="6" class="text-center">
        <strong class="text-secondary"> Nada encontrado...</strong>
      </td>
    </tbody>
    {% else %}
    <tbody>
      {% for todo in todos %}
      <tr id="todo-row-{{todo.id}}">
        <td>{{ todo.title }}</td>
        <td>{{ todo.priority }}</td>
        {% if todo.deadline %}
        <td>{{ todo.deadline }}</td>
        {% else %}
        <td>Não informado</td>
        {% endif %}
        <td>{{ todo.done }}</td>
        <td>
          <span>
            <button
              class="btn btn-secondary"
              data-bs-target="#load-todo-modal"
              data-bs-toggle="modal"
              onclick="loadTodoRow('{{todo.id}}', '{{todo.description}}', '{{todo.created_at}}')"
            >
              <i class="bi bi-eye"></i>
            </button>
            <button class="btn btn-danger" onclick="remove_todo('{{todo.id}}')">
              <i class="bi bi-trash"></i>
            </button>
          </span>
        </td>
      </tr>

      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>

<div
  class="modal fade"
  id="add-todo-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 text-center" id="add-todo-modal">
          Nova tarefa
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'home' %}" method="post">
          <div class="mb-3">
            {% csrf_token %}
            <label for="title" class="form-label">Título:</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="lavar o carro"
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descrição:</label>
            <textarea
              class="form-control"
              name="description"
              rows="3"
            ></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Prioridade:</label>
            <div class="d-flex gap-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="priority"
                  id="priority1"
                  value="1"
                  checked
                />
                <label class="form-check-label" for="priority1">Baixa </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="priority"
                  id="priority1"
                  value="2"
                />
                <label class="form-check-label" for="priority1">Média </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="priority"
                  id="priority1"
                  value="3"
                />
                <label class="form-check-label" for="priority1">Alta </label>
              </div>
            </div>
          </div>
          <div class="mb-3" style="width: 200px">
            <label class="form-label" for="deadline">Prazo:</label>
            <input
              type="datetime-local"
              name="deadline"
              id="deadline"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Concluída:</label>
            <div class="d-flex gap-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="done"
                  id="done-false"
                  value="0"
                  checked
                />
                <label class="form-check-label" for="done-false">Não </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="done"
                  id="done-true"
                  value="1"
                />
                <label class="form-check-label" for="done-true">Sim </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<button
  data-bs-toggle="modal"
  data-bs-target="#add-todo-modal"
  title="Criar nova tarefa"
  class="btn btn-light text-secondary open-model-add-todo"
>
  <i class="bi bi-plus-lg"></i>
</button>

<div
  class="modal fade"
  id="load-todo-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 text-center" id="add-todo-modal">
          Detalhes da Tarefa
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p id="todo-created_at"><strong>Criada em:&nbsp;</strong></p>
        <p id="todo-title"><strong>Título:&nbsp;</strong></p>
        <p id="todo-description">
          <strong>Descrição: <br /></strong>
        </p>
        <p id="todo-priority"><strong>Prioridade:&nbsp;</strong></p>
        <p id="todo-deadline"><strong>Prazo:&nbsp;</strong></p>
        <p id="todo-done"><strong>Concluída:&nbsp;</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <a href="" id="edit-todo" type="button" class="btn btn-warning">
          <i class="bi bi-pencil"></i> Editar</a
        >
      </div>
    </div>
  </div>
</div>
  <script>
    const csrfToken = '{{ csrf_token }}';

    function remove_todo(id) {
      request('/todo/delete_todo/' + id)
        .then((resp) => {
          location.reload();
        })
        .catch((error) => console.error(error));
    }

    function loadTodoRow(id, todo_description, created_at) {
      const rows = document.getElementById(`todo-row-${id}`);

      let createdAt = `<strong>Criada em:</strong> ${created_at}`;
      let title = `<strong>Título:</strong> ${rows.childNodes[1].innerHTML}`;
      let description = `<strong>Descrição:</strong> <br> ${todo_description}`;
      let priority = `<strong>Prioridade:</strong> ${rows.childNodes[3].innerHTML}`;
      let deadline = `<strong>Prazo:</strong> ${rows.childNodes[5].innerHTML}`;
      let done = `<strong>Concluída:</strong> ${rows.childNodes[7].innerHTML}`;

      document.querySelector('#todo-created_at').innerHTML = createdAt;
      document.querySelector('#todo-title').innerHTML = title;
      document.querySelector('#todo-description').innerHTML = description;
      document.querySelector('#todo-priority').innerHTML = priority;
      document.querySelector('#todo-deadline').innerHTML = deadline;
      document.querySelector('#todo-done').innerHTML = done;
      document.querySelector('#edit-todo').href = `/todo/edit_todo/${id}`;
    }

    function request(url, body, method) {
      contentType = 'application/x-www-form-urlencoded';

      return fetch(url, {
        method: method || 'GET',
        'Content-Type': contentType,
        'X-CSRFToken': csrfToken,
        body: JSON.stringify(body),
      });
    }
  </script>

  {% endblock %}
</div>
