{% extends 'master.html' %}
{% load static %}

{% block head %} 
<title>Registre-se - Todo-app</title>
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock%}

{% block content %}
<div class="register ">

  <h1 class="mb-3">Registre-se</h1>
  <form method="post" action="{% url 'create_user' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input
        type="name"
        class="form-control"
        id="name"
        name="name"
        aria-describedby="nameHelp"
      />
      {% if form.errors.name %}
      <span class="text-danger text-sm">Nome inválido.</span>
      {% endif %} 
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
      />
      {% if form.errors.email %}
      <span class="text-danger text-sm">E-mail inválido.</span>
      {% endif %} 
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha:</label>
      <input type="password"  name="password" class="form-control" id="password" />
      {% if form.errors.password %}
      <span class="text-danger text-sm">Senha invalida.</span>
      {% endif %} 
    </div>
    
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
{% endblock %}
