html {
  height: 100vh;
}

body {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  padding: 0;
  flex-grow: 1;
}

.menu {
  padding: 5px 20px;
  opacity: 0.9;
}

.menu .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: rgb(202 161 127);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.menu .navbar-brand:hover {
  animation: none;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  text-decoration: underline;
}

.my-footer {
  padding: 20px 0;
  opacity: 0.9;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 700;
  flex-shrink: 0;
}

#navbarNav .user-info {
  font-weight: bold;
  font-size: 16px;

  margin-right: 170px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-info .text {
  text-transform: uppercase;
}

@media screen and (max-width: 999px) {
  #navbarNav .user-info {
    margin-right: 50px;
  }
}
