.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login form {
  width: 400px;
  background-color: #f9f7fd;
  opacity: 0.8;
  padding: 20px;
  border-radius: 4px;
}
