.todo {
  border-radius: 4px;
  min-height: 80vh;
}

.open-model-add-todo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  opacity: 0.8;
}

.open-model-add-todo:hover {
  opacity: 1;
}
